@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap');


.weatherCard-title {
  font-size: 24px !important;
  font-family: 'Inclusive Sans', sans-serif !important;
}

.weatherCard-body {
  font-size: 16px !important;
  font-family: 'Inclusive Sans', sans-serif !important;
}